<ul xmlns="http://www.w3.org/1999/html">
  <a routerLink="/displayhelloworld"><button>displayhelloworld</button></a><br>
  <a routerLink="/showhellobutton"><button>showhellobutton</button></a><br>
  <a routerLink="/displayname"><button>displayname</button></a><br>
  <a routerLink="/counter"><button>counter</button></a><br>
  <a routerLink="/simpleform"><button>simpleform</button></a><br>
  <a routerLink="/userage"><button>userage</button></a><br>
  <a routerLink="/usergreeting"><button>usergreeting</button></a><br>
  <a routerLink="/calculator"><button>calculator</button></a><br>
  <a routerLink="/textlength"><button>textlength</button></a><br>
  <a routerLink="/currencyconverter"><button>currencyconverter</button></a><br>

</ul>

<ul>
  <a routerLink="/evenoddchecker"><button>evenoddchecker</button></a><br>
  <a routerLink="/wordreverser"><button>wordreverser</button></a><br>
  <a routerLink="/showdate"><button>showdate</button></a><br>
  <a routerLink="/showusername"><button>showusername</button></a><br>
  <a routerLink="/multiplicationable"><button>multiplicationable</button></a><br>
  <a routerLink="/simplelogin"><button>simplelogin</button></a><br>
  <a routerLink="/fahrenheittocelsius"><button>fahrenheittocelsius</button></a><br>
  <a routerLink="/bookmarklist"><button>bookmarklist</button></a><br>
  <a routerLink="/charactercounter"><button>charactercounter</button></a><br>
  <a routerLink="/palindromechecker"><button>palindromechecker</button></a><br>
</ul>

<ul>
  <a routerLink="/temperatureconverter"><button>temperatureconverter</button></a><br>
  <a routerLink="/shoppinglist"><button>shoppinglist</button></a><br>
  <a routerLink="/factorialcalculator"><button>factorialcalculator</button></a><br>
  <a routerLink="/todomanager"><button>todomanager</button></a><br>
  <a routerLink="/guessnumbergame"><button>guessnumbergame</button></a><br>
  <a routerLink="/wordcounter"><button>wordcounter</button></a><br>
  <a routerLink="/randomnumbergenerator"><button>randomnumbergenerator</button></a><br>
  <a routerLink="/multiplicationchecker"><button>multiplicationchecker</button></a><br>
  <a routerLink="/uppercaseconverter"><button>uppercaseconverter</button></a><br>
  <a routerLink="/wordshuffler"><button>wordshuffler</button></a><br>
</ul>

<ul>
  <a routerLink="/bmisolver"><button>bmisolver</button></a><br>
  <a routerLink="/usernamevalidator"><button>usernamevalidator</button></a><br>
  <a routerLink="/interestcalculator"><button>interestcalculator</button></a><br>
  <a routerLink="/compoundinterestcalculator"><button>compoundinterestcalculator</button></a><br>
  <a routerLink="/fibonaccigenerator"><button>fibonaccigenerator</button></a><br>
  <a routerLink="/oddsumcalculator"><button>oddsumcalculator</button></a><br>
  <a routerLink="/currencyformatter"><button>currencyformatter</button></a><br>
  <a routerLink="/randomquotedisplay"><button>randomquotedisplay</button></a><br>
  <a routerLink="/uppercasegreeting"><button>uppercasegreeting</button></a><br>
  <a routerLink="/divisiblechecker"><button>divisiblechecker</button></a><br>
</ul>

<h1>_________________________________________________________________________________________________</h1>







<router-outlet></router-outlet>
