<ul xmlns="http://www.w3.org/1999/html">
  <a routerLink="/displayhelloworld">displayhelloworld</a><br>
  <a routerLink="/showhellobutton">showhellobutton</a><br>
  <a routerLink="/displayname">displayname</a><br>
  <a routerLink="/counter">counter</a><br>
  <a routerLink="/simpleform">simpleform</a><br>
  <a routerLink="/userage">userage</a><br>
  <a routerLink="/usergreeting">usergreeting</a><br>
  <a routerLink="/calculator">calculator</a><br>
  <a routerLink="/textlength">textlength</a><br>
  <a routerLink="/currencyconverter">currencyconverter</a><br>

</ul>

<ul>
  <a routerLink="/evenoddchecker">evenoddchecker</a><br>
  <a routerLink="/wordreverser">wordreverser</a><br>
  <a routerLink="/showdate">showdate</a><br>
  <a routerLink="/showusername">showusername</a><br>
  <a routerLink="/multiplicationable">multiplicationable</a><br>
  <a routerLink="/simplelogin">simplelogin</a><br>
  <a routerLink="/fahrenheittocelsius">fahrenheittocelsius</a><br>
  <a routerLink="/bookmarklist">bookmarklist</a><br>
  <a routerLink="/charactercounter">charactercounter</a><br>
  <a routerLink="/palindromechecker">palindromechecker</a><br>
</ul>

<ul>
  <a routerLink="/temperatureconverter">temperatureconverter</a><br>
  <a routerLink="/shoppinglist">shoppinglist</a><br>
  <a routerLink="/factorialcalculator">factorialcalculator</a><br>
  <a routerLink="/todomanager">todomanager</a><br>
  <a routerLink="/guessnumbergame">guessnumbergame</a><br>
  <a routerLink="/wordcounter">>wordcounter</a><br>
  <a routerLink="/randomnumbergenerator">randomnumbergenerator</a><br>
  <a routerLink="/multiplicationchecker">multiplicationchecker</a><br>
  <a routerLink="/uppercaseconverter">uppercaseconverter</a><br>
  <a routerLink="/wordshuffler">wordshuffler</a><br>
</ul>

<ul>
  <a routerLink="/bmisolver">bmisolver</a><br>
  <a routerLink="/usernamevalidator">usernamevalidator</a><br>
  <a routerLink="/interestcalculator">interestcalculator</a><br>
  <a routerLink="/compoundinterestcalculator">compoundinterestcalculator</a><br>
  <a routerLink="/fibonaccigenerator">fibonaccigenerator</a><br>
  <a routerLink="/oddsumcalculator">oddsumcalculator</a><br>
  <a routerLink="/currencyformatter">currencyformatter</a><br>
  <a routerLink="/randomquotedisplay">randomquotedisplay</a><br>
  <a routerLink="/uppercasegreeting">uppercasegreeting</a><br>
  <a routerLink="/divisiblechecker">divisiblechecker</a><br>
</ul>
<ul>
  <a routerLink="/progressbar">progressbar</a><br>
  <a routerLink="/toggle">toggle</a><br>
  <a routerLink="/interestcalculator">interestcalculator</a><br>
  <a routerLink="/compoundinterestcalculator">compoundinterestcalculator</a><br>
  <a routerLink="/fibonaccigenerator">fibonaccigenerator</a><br>
  <a routerLink="/oddsumcalculator">oddsumcalculator</a><br>
  <a routerLink="/currencyformatter">currencyformatter</a><br>
  <a routerLink="/randomquotedisplay">randomquotedisplay</a><br>
  <a routerLink="/uppercasegreeting">uppercasegreeting</a><br>
  <a routerLink="/divisiblechecker">divisiblechecker</a><br>
</ul>

<h1>_________________________________________________________________________________________________</h1>







<router-outlet></router-outlet>
